* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
}
img{
    width: 100%;
    height: auto;
}
#main{
    width: 100%;
}
#content{
    height: 400px;
}
#navigation {
    height: 80px;
    display: grid;
    color: #fff;
    background-color: #444;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
}
#icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3%;
}
.icon{
    padding: 0 10%;
    opacity: 0.2;
}
#footer{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #444;
}
#footer img{
    height: 50px;
    width: 50px;
}
#content .bg-image{
    position: absolute;
    background: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0.8;
}
#navigation a{
    height: 80px;
}
.menu {
    padding: 31px 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.menu:hover {
    background-color: #eee;
    color: #111;
}
.icon:hover {
    opacity: 1;;
}
.name{
    max-width: 150px;
    font-size: 10px;
    text-align: center;
}
.contact{
    max-width: 150px;
    padding-right: 3%;
    font-size: 8px;
}