* {
    margin: 0;
    padding: 0;
    font-family: Noto Sans, sans-serif;
    text-decoration: none;
}
body{
    background-color: #cce6ff;
}
img{
    width: 100%;
    height: auto;
}
#layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    z-index: 2;
}
#name-logo{
    display: flex;
    align-items: center;
    color: #ff8000;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px #555;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo img{
    height: 65px;
    width: 65px;
}
#nav-container{
    cursor: pointer;
    transition: transform .2s;
}
#number{
    padding: 0px 10px;
}
#name{
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px #555;
    text-decoration-thickness: bold;
}
#nav{
    display: none;
}
#menu{
    width: 70px;
    height: 70px;
}
.bg-image{
    position: absolute;
    background: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70px;
    z-index: -1;
    opacity: 0.45;
}
#main{
    top: 70px;
}
#footer{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #555;
}
#footer img{
    height: 30px;
    width: 30px;
}
#footer .name{
    max-width: 200px;
    font-size: 8px;
    text-align: center;
    text-transform: uppercase;
}
#footer .contact{
    max-width: 150px;
    padding-right: 3%;
    font-size: 10px;
    text-align: end;
}
#icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3%;
}
.icon{
    padding: 0 10%;
    opacity: 0.3;
}
.icon:hover {
    opacity: 1;;
}

/* #content{
    width: 100%;
    height: 100px;
}
#content .bg-image{
    position: absolute;
    background: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
} */

@media(min-width: 320px)and(max-width: 767px){

}
@media(min-width: 768px)and(max-width: 959px){
    
}
@media(min-width: 960px){
    
}
/* body {
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
}
img{
    width: 100%;
    height: auto;
}
#head {
    height: 80px;
    width: 100%;
}
#navigation {
    position: fixed;
    right: 0;
    width: 100%;
    height: 80px;
    display: grid;
    color: #fff;
    background-color: #444;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
}
.menu p{
    text-align: center;
}
.menu:hover {
    background-color: #eee;
    color: #111;
}
#main{
    width: 100%;
}
#content{
    height: 400px;
    width: 100%;
}
#content .bg-image{
    position: absolute;
    background: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0.8;
}
.mapouter{
    z-index: -1;
}
#alarm-number{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
#alarm-number p{
    color: #fc9803;
    height: auto;
    width: 100%;
    font-weight: 900;
    text-indent: 10%;
    font-size: 150px;
    text-shadow:3px 3px#444;
}
#alarm{
    color: #fc9803;
    position: relative;
    top: 130px;
    left: 15%;
    font-size: 30px;
    font-weight: 600;
    text-shadow:1px 1px#666;
    z-index: -1;
}

 */